

body{
    background: radial-gradient(ellipse, #2f56da, white); 
}
.bodyRecruteur{
    background:white; 
}
.profile{
   text-align: center;
    border-radius: 25%;
    background: white; 
    width: 35%;
    margin: auto;
    margin-bottom: 50px;
}
.profileRecruteur{
   text-align: center;
    border-radius: 25%;
    background: radial-gradient(ellipse, #2f56da, white); 
    width: 35%;
    margin: auto;
    margin-bottom: 50px;
}

.profile h2{
    color: #26429d;
    padding-top: 15px;
}s
.profileRecruteur h2{
    color: #000000;
    padding-top: 15px;
}

a{
    margin: 25px;
}

#flex{
    display: flex;
}

.sidenav{
    padding-top: 15%;
}

/****************************************************************************
            Média queries
*********************************************************************************/

@media all and (max-width: 1000px) {
    .profile{
         width: 90%;
     }
     .profileRecruteur{
         width: 90%;
     }
}    
