{% extends 'base.html.twig' %}

{% block title %}Edit AnnonceEmploi{% endblock %}

{% block body %}
    <h1>Edit AnnonceEmploi</h1>

    {{ include('admin_annonce_emploi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_annonce_emploi_index') }}">back to list</a>

    {{ include('admin_annonce_emploi/_delete_form.html.twig') }}
{% endblock %}
