{% extends 'base.html.twig' %}

{% block title %}Hello AreaController!{% endblock %}

{% block body %}
    <h1>ESPACE RECRUTEUR ✅</h1>

    {% for flashMessage in app.flashes('info') %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ flashMessage }} 
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
    </div> 
    {% endfor %}

<a href=" {{ path('app_forfait_index') }}">S'abonner pour accéder à la cvthèque</a>
  <br>
<a href=" {{ path('app_cvtheque') }}">Bienvenue dans la CVthèque E-TALENT</a>
    <br>
<a href=" {{ path('app_annonce_emploi_index') }}">Vos annonces d'emploi</a>
{% endblock %}
